.featureList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.featureItem {
    display: flex;
    align-items: center;
    font-size: var(--font-size-sm);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: var(--spacing-sm);
    flex-shrink: 0;
}

.included {
    .icon {
        background-color: var(--included-icon-bck);
        color: var(--included-icon-clr);

        &.highlighted {
            background-color: var(--included-icon-highlighted-bck);
            color: var(--included-icon-highlighted-clr);
        }
    }
}

.excluded {
    opacity: 0.5;

    .icon {
        background-color: var(--excluded-icon-bck);
        color: var(--excluded-icon-clr);

        &.highlighted {
            background-color: var(--excluded-icon-highlighted-bck);
            color: var(--excluded-icon-highlighted-clr);
        }
    }
}

.featureName {
    color: var(--feature-name-clr);
    line-height: 1.4;

    &.highlighted {
        color: var(--feature-name-highlighted-clr);
    }
}