.button {
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-weight: 600;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    border: none;
    outline: none;

    &:active {
        transform: scale(0.98);
    }

    &.fullWidth {
        width: 100%;
    }

    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;

        &:active {
            transform: none;
        }
    }
}

.primary {
    background-color: var(--accent);
    color: var(--page-background-color);

    &:hover:not(:disabled) {
        background-color: var(--hover);
    }

    &:active:not(:disabled) {
        background-color: var(--hover);
    }
}

.secondary {
    background-color: transparent;
    border: 1.5px solid var(--card-selected);
    color: var(--card-selected);

    &:hover:not(:disabled) {
        background-color: var(--card-background);
    }

    &:active:not(:disabled) {
        background-color: var(--card-background);
    }
}

.small {
    font-size: var(--font-size-sm);
    padding: 0.5rem 1rem;
}

.medium {
    font-size: var(--font-size-md);
    padding: 0.75rem 1.5rem;
}

.large {
    font-size: var(--font-size-lg);
    padding: 1rem 2rem;
}