:root {
  // orange
  --orange-500: #f97316;
  --orange-600: #ea580c;
  // violet
  --violet-50: #f5f3ff;
  --violet-950: #2e1065;
  --violet-600: #7c3aed;
  --violet-100: #ede9fe;
  --violet-700: #6d28d9;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-blur: #a68bfa;
  // gray
  --gray-600: #475569;
  --gray-800: #1e293b;
  --gray-100: #f1f5f9;
  --gray-700: #334155;
  --gray-400: #94a2b8;
  --gray-500: #64738b;
  --gray-950: #020617;
  // border
  --border-radius: var(--spacing-sm);
  // spacing
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  // font size
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
  /*components */
  // header
  --header-bck: var(--violet-50);
  // pricing
  --pricing-container: var(--violet-50);
  // feature list
  --included-icon-bck: var(--violet-500);
  --included-icon-clr: var(--violet-100);
  --included-icon-highlighted-bck: var(--violet-100);
  --included-icon-highlighted-clr: var(--violet-500);
  --included-feature-name-clr: var(--violet-950);
  --included-feature-name-highlighted-clr: var(--violet-50);
  --excluded-icon-bck: var(--violet-300);
  --excluded-icon-clr: var(--violet-100);
  --excluded-icon-highlighted-bck: var(--violet-500);
  --excluded-icon-highlighted-clr: var(--violet-700);
  --excluded-feature-name-clr: var(--violet-blur);
  --excluded-feature-name-highlighted-clr: var(--violet-blur);
  // pricing card
  --card-bck: var(--violet-100);
  --card-name-clr: var(--violet-950);
  --card-name-highlighted-clr: var(--violet-50);
  --card-description-clr: var(--gray-700);
  --card-description-highlighted-clr: var(--violet-50);
  --card-pricing-clr: var(--violet-950);
  --card-pricing-highlighted-clr: var(--violet-50);
  --card-period-clr: var(--gray-700);
  --card-period-highlighted-clr: var(--violet-50);
  --card-shadow-highlighted-large-clr: var(--violet-400);
  // title
  --title-color-primary: var(--violet-950);
  --title-highlight-clr: var(--violet-600);
  --title-subtitle-clr: var(--gray-600);
  // button
  --button-primary-bck: var(--orange-500);
  --button-primary-hover-bck: var(--orange-600);
  --button-primary-disabled-bck: var(--violet-300);
  --button-primary-text-clr: var(--violet-50);
  --button-shadow-clr: var(--violet-400);
  //secondary
  --button-secondary-bck: var(--violet-100);
  --button-secondary-hover-bck: var(--violet-100);
  --button-secondary-disabled-bck: var(--violet-400);
  --button-secondary-text-clr: var(--violet-700);
  --button-secondary-shadow-clr: var(--violet-400);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Satoshi-Regular', sans-serif;

  &.dark {
    // header
    --header-bck: var(--gray-800);
    // pricing
    --pricing-container: var(--gray-800);
    // feature list
    --included-icon-bck: var(--violet-300);
    --included-icon-clr: var(--gray-700);
    --included-icon-highlighted-bck: var(--violet-200);
    --included-icon-highlighted-clr: var(--violet-700);
    --included-feature-name-clr: var(--violet-50);
    --included-feature-name-highlighted-clr: var(--gray-100);
    --excluded-icon-bck: var(--gray-500);
    --excluded-icon-clr: var(--gray-700);
    --excluded-feature-name-clr: var(--gray-400);
    // pricing card
    --card-bck: var(--gray-700);
    --card-name-clr: var(--violet-50);
    --card-name-highlighted-clr: var(--gray-100);
    --card-description-clr: var(--violet-100);
    --card-description-highlighted-clr: var(--gray-100);
    --card-pricing-clr: var(--violet-50);
    --card-pricing-highlighted-clr: var(--gray-100);
    --card-period-clr: var(--violet-100);
    --card-period-highlighted-clr: var(--gray-100);
    --card-shadow-highlighted-large-clr: var(--gray-950);
    //title
    --title-color-primary: var(--violet-50);
    --title-highlight-clr: var(--violet-500);
    --title-subtitle-clr: var(--gray-400);
    // button
    --button-primary-bck: var(--violet-50);
    --button-primary-hover-bck: var(--violet-100);
    --button-primary-disabled-bck: var(--violet-400);
    --button-primary-text-clr: var(--violet-700);
    --button-shadow-clr: var(--gray-950);
    //secondary
    --button-secondary-bck: var(--gray-600);
    --button-secondary-hover-bck: var(--gray-700);
    --button-secondary-disabled-bck: var(--gray-500);
    --button-secondary-text-clr: var(--violet-300);
  }
}

#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

// Accessibility improvements
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// used to detect if a user has enabled a setting on their device to minimize the amount of non-essential motion
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}