// Alignment variants
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

// Size variants
.size-sm {
    font-size: var(--font-size-sm);
}

.size-md {
    font-size: var(--font-size-md);
}

.size-lg {
    font-size: var(--font-size-lg);
}

.size-xl {
    font-size: var(--font-size-xl);

    @media (min-width: 768px) {
        font-size: calc(var(--font-size-xl) * 1.5);
    }
}

.size-2xl {
    font-size: var(--font-size-2xl);
}

.size-3xl {
    font-size: var(--font-size-3xl);

    @media (min-width: 768px) {
        font-size: calc(var(--font-size-3xl) * 1.2);
    }
}

// Weight variants
.weight-normal {
    font-weight: 400;
}

.weight-medium {
    font-weight: 500;
}

.weight-semibold {
    font-weight: 600;
}

.weight-bold {
    font-weight: 700;
}

// Color variants
.color-primary {
    font-family: 'Satoshi-Bold';
    color: var(--title-color-primary);
}

.color-accent {
    color: var(--orange-500);
}

// Highlight styles
.highlight {
    color: var(--title-highlight-clr);
    font-family: 'Satoshi-Bold';
    display: inline-block;
}

.subtitle {
    text-align: center;
    margin-top: var(--spacing-xs);
    color: var(--title-subtitle-clr);
}