.pricingContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--spacing-xl);
    background-color: var(--page-background-color);
    gap: var(--spacing-xl)
}

.plansWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
}