.pricingContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--spacing-xs) var(--spacing-sm) var(--spacing-sm);
    background-color: var(--pricing-container);
    gap: var(--spacing-md);
    overflow-y: scroll;

    @media (min-width: 768px) {
        gap: var(--spacing-xl);
        padding: var(--spacing-xs) var(--spacing-xl) var(--spacing-xl);
    }
}

.plansWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    padding-bottom: var(--spacing-xl);

    @media (min-width: 768px) {
        gap: 0;
    }
}