.pricing {
    background-color: var(--page-background-color);
    padding-top: 5rem;

    .wrapper {
        text-align: center;

        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
            color: var(--page-title);
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            color: var(--secondary-color);
        }
    }
}