.card {
    background-color: var(--card-bck);
    border-radius: var(--border-radius);
    padding: var(--spacing-lg) var(--spacing-md);
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    &.highlighted {
        background-color: var(--violet-700);
        box-shadow: 0 4px 44px var(--card-shadow-highlighted-large-clr);
        padding-top: var(--spacing-xl);
        padding-bottom: var(--spacing-xl);
        z-index: 1;
    }
}

.header {
    margin-bottom: var(--spacing-sm);
}

.name {
    color: var(--card-name-clr);
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-xs);
    font-weight: 500;

    &.highlighted {
        color: var(--card-name-highlighted-clr);
    }
}

.description {
    font-size: var(--font-size-sm);
    color: var(--card-description-clr);
    line-height: var(--font-size-lg);

    &.highlighted {
        color: var(--card-description-highlighted-clr)
    }
}

.pricing {
    display: flex;
    align-items: center;
    color: var(--card-pricing-clr);

    &.highlighted {
        color: var(--card-pricing-highlighted-clr);
    }
}

.currency {
    font-size: var(--font-size-2xl);
    font-family: 'Satoshi-Bold';
}

.price {
    font-size: var(--font-size-2xl);
    font-family: 'Satoshi-Bold';
}

.period {
    font-size: var(--font-size-sm);
    color: var(--card-period-clr);
    margin-left: .1em;

    &.highlighted {
        color: var(--card-period-highlighted-clr)
    }
}

.ctaButton {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
}