.card {
    background-color: var(--card-background);
    border-radius: var(--border-radius);
    padding: var(--spacing-lg) var(--spacing-md);
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    &.highlighted {
        background-color: var(--card-selected);
        box-shadow: 0 4px 44px var(--card-shadow);
        padding-top: var(--spacing-xl);
        padding-bottom: var(--spacing-xl);
    }
}

.header {
    margin-bottom: var(--spacing-sm);
}

.name {
    font-family: 'Satoshi-Bold';
    color: var(--text-title);
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-xs);
    font-weight: 500;

    &.highlighted {
        color: var(--page-background-color);
    }
}

.description {
    font-size: var(--font-size-sm);
    color: var(--text-description);
    line-height: var(--font-size-lg);

    &.highlighted {
        color: var(--page-background-color)
    }
}

.pricing {
    display: flex;
    align-items: center;
    color: var(--text-title);

    &.highlighted {
        color: var(--page-background-color)
    }
}

.currency {
    font-size: var(--font-size-2xl);
    font-family: 'Satoshi-Bold';
}

.price {
    font-size: var(--font-size-2xl);
    font-family: 'Satoshi-Bold';
}

.period {
    font-size: var(--font-size-sm);
    color: var(--text-description);
    margin-left: .1em;

    &.highlighted {
        color: var(--page-background-color)
    }
}

.ctaButton {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
}